<% title "Stem på : #{@vote.image.title}" %>

<h1>Stem på : <%= @vote.image.title %></h1>

<p><strong>Utfordring:</strong> <%= @vote.image.challenge.tag %> - <%= @vote.image.challenge.title %></p>

<p><img src="<%= @vote.image.image_url %>"/></p>

<p>Vi må vite hvem du er slik at vi gir kun ett stemme per person og kan sjekke at du ikke stemmer for ditt eget
  bilde.</p>

<p>For å finne ditt flickr ID kan du bruke <a href="http://idgettr.com/" target="_blank">idgettr.com</a> (åpnes i et
  nytt vindu)</p>

<p>Riktig format er noe lignende 1234567@N01</p>

<% form_for @vote do |f| %>
    <%= f.hidden_field 'image_id', :value => @vote.image.id %>
    <%= f.error_messages :header_message => "Din stemme var ikke lagret!", :message => "Følgende feiler var oppdaget" %>
    <%= f.label :photographer_flickr_id, 'Flickr ID' %>
    <%= f.text_field :photographer_flickr_id %><br />
    <%= submit_tag "Stem" %>
<% end %>