<h1><%= image.title %></h1>

<p><strong>Utfordring:</strong> <%= image.challenge.tag %> - <%= image.challenge.title %></p>

<p>
  <a href="#">Vis stort bilde</a>
  |
  <a href="<%= image.image %>" target="_blank">Se bildet på flickr (nytt vindu)</a>
  |
  <a href="http://www.flickr.com/photos/<%= image.photographer.flickr_id %>" target="_blank">Se fotograffen på flickr
    (nytt vindu)</a>
</p>

<% if voting_open? %>
    <%= link_to image_tag(image.image_url), new_vote_path('img'=> image.id) %>
<% else %>
    <img src="<%= image.image_url %>"/>
<% end %>