<% if results_open? %>
    <h1><%= image.rank %> : <%= image.title %></h1>

    <p><strong>Utfordring:</strong> <%= image.challenge.tag %> - <%= image.challenge.title %></p>
<% else %>
    <h1><%= image.challenge.tag %> - <%= image.challenge.title %></h1>

    <p><strong><%= image.title %></strong></p>
<% end %>

<p>
  <a class="fancyboxImage" id="fb_<%= image_counter %>"></a>
  |
  <a href="<%= image.image %>" target="_blank">Se bildet på flickr (nytt vindu)</a>
  |
  <a href="http://www.flickr.com/photos/<%= image.photographer.flickr_id %>" target="_blank">Se Fotograffen på flickr
    (nytt vindu)</a>
</p>

<% if results_open? %><p><%= pluralize image.votecount, 'stemme', 'stemmer' %></p>
<% end %>

<% if voting_open? and logged_in? and not_own_image?(image) %>
    <%= link_to image_tag(image.image_url), new_vote_path('img'=> image.id) %>
<% else %>
    <img src="<%= image.image_url %>"/>
<% end %>

<div style="display: none">
  <a id="img_fb_<%= image_counter %>" rel="group" class="flickrImage"
     title="<%= image.challenge.tag %> - <%= image.challenge.title %>"
     href="<%= image.image_large_url %>">
    <img src="<%= image.image_url %>" alt="<%= image.challenge.tag %> - <%= image.challenge.title %>"/>
  </a>
</div>
