<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title><%= h(yield(:title) || "Untitled") %></title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>

  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'orange' %>

  <%= yield(:head) %>
</head>

<body>
<div id="main">
  <div id="links">
    <% if session[:username].blank? %>
        <% if voting_open? %>
            <a href="<%= auth_url %>">Logg inn gjennom flickr</a>
            |
        <% end %>
    <% else %>
        <%= session[:username] %>
        |
        <%= link_to 'Logg ut', logout_path %>
        |
    <% end %>
    <a href="http://twitter.com/Twphch">Twitter</a>
    |
    <a href="http://www.flickr.com/groups/twphch/">Flickr Group</a>
    |
    <a href="http://vote.twphch.com">Ukentlig avstemninger</a>
  </div>
  <div id="logo"><h1>Twitter Photo Challenge</h1>

    <h2>&quot;det første året&quot;</h2>
  </div>
  <div id="content">
    <div id="column1">
      <% if results_open? %>
          <div class="sidebaritem">
            <h1>Årets avstemning</h1>

            <p>Vi har kåret det beste bildet fra det første året.</p>
          </div>
      <% else %>
          <div class="sidebaritem">
            <h1>Årets avstemning</h1>

            <p>Vi skal kåre det beste bildet fra det første året.</p>

            <p>Her har du samlet alle førsteplassholdere.</p>

            <p>Stem for akkurat det bildet du synes er best.</p>

            <p>Det er selvfølgelig ikke lov å stemme på ditt eget bilde!</p>
          </div>

          <% if voting_open? %>
              <div class="sidebaritem">
                <h1>For å stemme</h1>

                <% if logged_in? %>
                    <p>Bare klikk på bildet du vil stemme for.</p>

                    <p>Du kan stemme så mange ganger du ønsker helt fram til avstemningens slutt. Den siste stemme er
                      den
                      som vil gjelder. Det betyr at hvis du endre mening så er det bare å stemme på nytt.</p>
                <% else %>
                    <p>Først må du logge inn via Flickr - se lenken "Logg inn gjennom flickr" øverst.</p>

                    <p>Hvis dette er første gang må du godkjenne dette hos flickr. Applikasjon ber om leserettigheter.
                      Det
                      er fordi det er den minste rettighet det går annen å be om. Men - vi leser ikke noe annet enn ditt
                      brukernavn/bruker ID.</p>

                    <p>Obs - siden dette er ikke samme applikasjon som vi bruker til de ukentlige avstemninger så vil du
                      måtte godkjenne den selv om du deltar i de ukentlige avstemninger.</p>
                <% end %>
              </div>
          <% else %>
              <div class="sidebaritem">
                <h1>Avstemningen</h1>

                <p>Åpnes: <%= ENV['OPEN_DATE'] %></p>

                <p>Stenges: <%= ENV['CLOSE_DATE'] %></p>
              </div>
          <% end %>
      <% end %>

    </div>
    <div id="column2">
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%= yield %>

    </div>
  </div>
  <div id="footer"><a
  href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> | <a
  href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.dcarter.co.uk">design
    by dcarter</a>
  </div>
</div>
<!-- Woopra Code Start -->
<script type="text/javascript" src="//static.woopra.com/js/woopra.v2.js"></script>
<script type="text/javascript">
    woopraTracker.track();
</script>
<!-- Woopra Code End -->
</body>
</html>
